<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="index.js" defer></script>
    <link rel="stylesheet" href="/index.css" />
    <title>diary</title>
  </head>
  <body>
    <h1>Diary</h1>
    <button id="new-form-btn">skapa inlägg</button>
    <form
      method="post"
      th:action="@{/new-post}"
      th:objekt="${Diary}"
      th:id="newPost"
    >
      <label for="add-post-tital">tital: </label>
      <input type="text" id="add-post-tital" name="addPostTital" />
      <label for="add-post-text">inlägg: </label>
      <textarea
        name="addPostText"
        id="add-post-text"
        cols="79"
        rows="10"
      ></textarea>

      <label for="post-date">publiceringsdatum: </label>
      <input type="date" id="post-date" name="AddPostDate" required />
      <input class="form-id" type="hidden" name="id" value="123" />
      <button>Submit</button>
    </form>
    <ul>
      <li>
        <form id="date-search">
          <label for="start-date">Från: </label>
          <input type="date" id="start-date" />
          <label for="end-date">Till: </label>
          <input type="date" id="end-date" />
        </form>
      </li>
      <li
        class="posts"
        th:id="${diaryPost.id}"
        th:each="diaryPost : ${diaryPosts}"
        th:attr="data-date=${diaryPost.date}"
      >
        <div class="content" th:id="content +${diaryPost.id}">
          <span class="tital" th:text="${diaryPost.tital}"></span>
          <span class="post" TH:text="${diaryPost.post}"></span>
          <span class="date" th:text="${diaryPost.date}"></span>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="drop-down-items">
            <a
              class="drop-down-item"
              th:href="@{/delete-diary-post(id=${diaryPost.id})}"
              >Ta bort</a
            >
            <button
              class="drop-down-item editBtn"
              th:id="'edit-btn ' + ${diaryPost.id}"
            >
              Ändra
            </button>
          </div>
        </div>
      </li>
    </ul>
  </body>
</html>
